.news {
    border-radius: 20px;
    background-color: rgb(243, 244, 246);
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    .title {
        h3 {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 700;
            margin-bottom: 0;
        }
        .dropdown{
            border: 0.5px solid lightgray;
            padding-top: 0.5rem;
            padding-bottom:0.5rem ;
            padding-inline: 1rem;
            .dropdown-toggle::after{
                display: none;
            }
        }
    }
    .list-group {
        border-radius: 20px;
        .list-group-item {
            padding-top: 0;
            padding-bottom: 0;
            border: none;
            .card {
                border: none;
                .row {
                    .col-md-4 {
                        padding-inline-end: 0;
                        padding-inline-start: 1rem;
                        img {
                            border-radius: 20px;
                            max-width: 10.3rem;
                            max-height: 6rem;
                        }
                    }
                    .col-md-8 {
                        .card-body {
                            padding-inline-start: 0;
                            .card-title {
                                font-weight: 700;
                                font-size: 1rem;
                                line-height: 1.5rem;
                            }
                            .card-text {
                                .text-muted {
                                    font-weight: 700;
                                    font-size: 1rem;
                                    line-height: 1.5rem;
                                    color: rgba(157, 164, 174, 1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
