.news {
    max-width: 39rem;
    border-radius: 20px;
    background-color: rgb(243, 244, 246);
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .title {
        margin-top: 1.25rem;
        margin-bottom: 1.5rem;
        h3 {
            font-weight: 700;
            margin-bottom: 0;
        }
    }
    .list-group {
        border-radius: 20px;
        .list-group-item {
            padding-top: 0;
            padding-bottom: 0;
            border: none;
            .card {
                border: none;
                .row {
                    .col-md-4 {
                        padding-inline-end: 0;
                        padding-inline-start: 1rem;
                        img {
                            border-radius: 20px;
                            max-width: 10.3rem;
                            max-height: 6rem;
                        }
                    }
                    .col-md-8 {
                        .card-body {
                            .crad-title {
                                font-weight: 700;
                            }
                            .card-text {
                                .text-muted {
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
