.search-container{
    .search-dropdown{
        .dropdown{
            font-weight: 500;
            margin-inline-end: 1rem;

        } 
    }
    .title{
        font-size: 3.75rem;
    }
    .navbar{
        .form-inline{
            min-width: 33rem;
            .form-control{
                margin-inline-end: 1rem;
            }
        }
    }
    .search-button{
        .btn{
            margin-inline-end: 0.75rem;
            max-height: 2rem;
        }
    }
}

