.search-container{
    .search-dropdown{
        .dropdown{
            font-weight: 500;
            margin-inline-end: 1rem;
            font-size: 1rem;
            line-height: 1.5rem;
            background-color: white;
        } 
    }
    .title{
        font-size: 3.75rem;
        line-height: 4.5rem;
        font-weight: 500;
    }
    .navbar{
        .form-inline{
            .form-control{
                padding-inline-end: 13.7rem;
                margin-inline-end: 1rem;
            }
        }
    }
    .search-button{
        .btn{
            line-height: 1.25rem;
            font-weight: 500;
            font-size: 0.875rem;
            margin-inline-end: 0.75rem;
            margin-top: 0.5rem;
        }
    }
}

@media (max-width: 992px) {
    /* Centering the search-container */
    .search-container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .search-dropdown {
      justify-content: center;
      width: 100%;
    }
  
    form.form-inline {
      justify-content: center;
      width: 100%;
    }
  
    .search-button {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    /* Centering col-lg-5 col-md-12 order-first order-md-0 order-lg-0 */
    .col-lg-5.col-md-12.order-first.order-md-0.order-lg-0 {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    /* Ensure the carousel inside is centered */
    .title-carousel-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  