.search-container{
    .search-dropdown{
        .dropdown{
            font-weight: 500;
            margin-inline-end: 1rem;
            font-size: 1rem;
            line-height: 1.5rem;
        } 
    }
    .title{
        font-size: 3.75rem;
        line-height: 4.5rem;
        font-weight: 500;
    }
    .navbar{
        .form-inline{
            .form-control{
                min-width: 26rem;
                margin-inline-end: 1rem;
            }
        }
    }
    .search-button{
        .btn{
            line-height: 1.25rem;
            font-weight: 500;
            font-size: 0.875rem;
            margin-inline-end: 0.75rem;
        }
    }
}

