.navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    
    .navbar-nav {
        display: flex;
        align-items: center; 
        
        .nav-item {
            margin-inline-end: 1rem;
            display: flex;
            align-items: center; 
            a {
                font-weight: 500;
                line-height: 1.5rem;
                font-size: 1rem;
            }
        }
        
        .btn {
            display: flex;
            align-items: center;
            font-weight: 500;
            line-height: 1.5rem;
            font-size: 1rem; 
        }
    }

    .navbar-brand {
        display: flex;
        align-items: center; 
    }
    
}
