.data {
    .container {
        .title {
            font-weight: 700;
        }
        .row {
            .news {
                border-radius: 20px;
                background-color: rgb(243, 244, 246);
                .title {
                    margin-top: 1.25rem;
                    h2{
                        font-weight: 700;
                    }
                }
                .list-group {
                    border-radius: 20px;
                    .list-group-item {
                        padding-top: 0;
                        padding-bottom: 0;
                        border: none;
                        .card {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
