.footer-bottom {
    .container {
        .col{
            .page-logo{
                display: flex;
                justify-content: end;
            }
            .row{
                .page-logo{
                    display: flex;
                    justify-content: end;
                }
            }
        }
    }
}
