.ticker{
    margin-top: 5rem;
    padding-bottom: 5rem;
    .owl-carousel{
        .owl-stage-outer{
            .owl-stage{
                .owl-item{
                    .item{
                        .card{
                            border: none;
                            border-radius: 16px;
                            max-height: 6.125rem;
                            min-height: 6.125rem;
                            overflow: hidden;
                            .card-body{
                                .card-title{
                                    font-weight: 700;
                                }
                                .card-text{
                                    font-weight: 500;
                                }
                            }
                            .card-img-top{
                                max-height: 3rem;
                                max-width: 3rem;
                                margin-inline-start: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}