
.page-title{
    background-size: cover;
    background-image: url(/assets/images/f-background.png);
    background-repeat: no-repeat;
}
.data{
    & .container{
        & .data-title{
            margin-bottom: 2rem;
        }
    }
}